*.pper
Integer Sequence Learning/scripts/.Rproj.user/B9146359/sdb/prop/INDEX
Integer Sequence Learning/scripts/.Rproj.user/B9146359/build_options
Integer Sequence Learning/scripts/.Rproj.user/B9146359/saved_source_markers
Integer Sequence Learning/scripts/.Rproj.user/B9146359/sdb/prop/B8C220F3
Integer Sequence Learning/scripts/.Rproj.user/B9146359/vcs_options
Integer Sequence Learning/scripts/.Rproj.user/B9146359/sdb/per/t/500E1C9F
.Rproj.user
*.Rhistory
Integer Sequence Learning/scripts/.vs/Input Sequence Learning/v14/.suo
*.Rhistory
*.Rhistory
Integer Sequence Learning/scripts/.vs/Input Sequence Learning/v14/.suo
*.rdataTmp
Integer Sequence Learning/output/temp62.rda
/Integer Sequence Learning/OeisDownload/obj/Debug
/Integer Sequence Learning/OeisDownload/bin/Debug
/Integer Sequence Learning/OeisDownload/.vs/OeisDownload/v14
/Integer Sequence Learning/download
/Integer Sequence Learning/output/iterations.txt
/Integer Sequence Learning/output/recurrent2-1.csv
*.cache
.vs/
